.Timer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    display: inline-block;
  padding: 0.3em 1em;
  margin-right:5px;
  text-decoration: none;
  color: #000000;
  border: solid 2px #00000;
  border-radius: 3px;
  transition: .4s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size:18px;

}
button:hover {
    background: #dd551f;
    color: white;
  }